@import "./../../../variable.scss";

.movie-details-image{
    margin-left: 30px;
}

.movie-details-text{
    margin-left: 30px;
}
.movie-details-main{
    width: 800px;
}
.fa-square{
    font-size: 30px;
    color:  $seat-color;
}