<!-- <div class="container-fluid"> -->
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container nav-content">
    <a routerLink="/" class="nav-link-img"> <img src="https://dev-academy.com/img/dev-academy-logo.png" width="60" height="49" alt="img space" />Movies Corner</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div>
        <a class="nav-link" aria-current="page" routerLink="/">Home</a>
      </div>
      <div>
        <a class="nav-link" aria-current="page" href="#">subscription</a>
      </div>
      <div>
        <a class="nav-link" aria-current="page" href="#">article</a>
      </div>
      <div>
        <a class="nav-link" aria-current="page" href="#"> offers</a>
      </div>
      <div>
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/movies"
          data-toggle="modal"
          data-target="#exampleModal"
          data-whatever="@mdo"
          >login/signup</a
        >
      </div>
    </div>
  </div>
</nav>

<div>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formdetails" #myForm="ngForm">
            <!-- <div class="form-group">
                <label for="recipient-name" class="col-form-label">email:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div> -->
            <div class="form-group">
              <span>Email :</span>
              <input
                type="text"
                placeholder="Email"
                class="form-control"
                name="email"
                formControlName="email"
              />
              <label
                *ngIf="
                  formdetails.controls['email'].invalid &&
                  formdetails.controls['email'].touched
                "
                style="color: red"
              >
                *enter valid email
              </label>
            </div>
            <div class="form-group">
              <span>password :</span>
              <input
                type="password"
                placeholder="Password"
                class="form-control"
                name="password"
                formControlName="password"
              />
              <label
                *ngIf="
                  formdetails.controls['password'].invalid &&
                  formdetails.controls['password'].touched
                "
                style="color: red"
              >
                *must container min 8 characters<br />
                *must have a uppercase as well as a lowercase<br />
                *must contain a special characters<br />
                *must contain a number
              </label>
            </div>

            <!-- <div class="form-group">
              <label for="message-text" class="col-form-label">Login:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div> -->
            <span>not a member! </span
            ><a routerLink="/signup" data-dismiss="modal">register here</a>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary" (click)="login()" data-dismiss="modal">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- <div class="container-fluid"> -->
<router-outlet></router-outlet>
<!-- </div> -->

<nav class="navbar bg-dark footer">
  <div class="container-fluid">
    <div class="container footer-text-area">
      <div class="footer-content">
        <h6 class="footer-text-header">EXPERIANCE+<br />EXPLORE</h6>
        <a class="navbar-brand footer-text" href="#">Navbar</a>
        <a class="navbar-brand footer-text" href="#">Navbar</a>
        <a class="navbar-brand footer-text" href="#">Navbar</a>
      </div>
      <div class="footer-content">
        <h6 class="footer-text-header">EDTORIAL<br />FEATURES</h6>

        <a class="navbar-brand footer-text" href="#">Navbar</a>
        <a class="navbar-brand footer-text" href="#">Navbar</a>
        <a class="navbar-brand footer-text" href="#">Navbar</a>
      </div>
      <div class="footer-content">
        <h6 class="footer-text-header">VIDEOS<br /><br /></h6>
        <a class="navbar-brand footer-text" href="#">Navbar</a>
        <a class="navbar-brand footer-text" href="#">Navbar</a>
        <a class="navbar-brand footer-text" href="#">Navbar</a>
      </div>
      <div class="footer-content">
        <h6 class="footer-text-header">PHOTOS<br /><br /></h6>
        <a class="navbar-brand footer-text" href="#">Navbar</a>
        <a class="navbar-brand footer-text" href="#">Navbar</a>
        <a class="navbar-brand footer-text" href="#">Navbar</a>
      </div>
    </div>
  </div>
</nav>
